@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

#top-ad{
    background-image: url(../img/carousel/pallete1.png);
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, .5);
    margin: 12px;
    padding: 16px;
    color: white;
    text-align: center;
    width: 50%;
    transition: box-shadow 0.3s ease-in-out;
}

#down:hover{
    box-shadow: 0 0.5rem 2rem rgba(255,255,255,.3);
}

#links{
    background-color: black;
    padding: 12px;
    border: 0;
    border-radius: 5px;
    box-shadow: 0 0.5rem 2rem rgba(255,255,255,.3);
}

#links div{
    background-color: #212121;
    padding: 8px;
    margin-bottom: 8px;
    border: 0;
    border-radius: 5px;
    transition: box-shadow 0.5s ease-in-out;
}

#links div:hover{
    box-shadow: 0 0.5rem 2rem rgba(255,255,255,.3);
}

#down{
    background-color: rgba(0, 0, 0, .5);
    margin: 12px;
    padding: 16px;
    color: white;
    text-align: center;
    width: 50%;
    transition: box-shadow 0.5s ease-in-out;
}

body{
    color: white;
    font-family: 'Montserrat', sans-serif;
    behavior: smooth;
}

#banner{
    background-color: black;
    color: white;
    text-align: center;
    vertical-align: middle;
}

@media only screen and (max-width: 768px) {
    #mobile{
        display: flex;
    }

    #desktop{
        display: none;
    }
}

@media only screen and (min-width: 768px) {
    #mobile{
        display: none;
    }

    #desktop{
        display: inline-block;
    }

    #atext{
        width: 50%;
    }
}

#mobile div{
    display: flex;
}